.share
{
    width:100%;
    height:100%;
    max-height: 350px;
    border: 5px solid rgba(0, 0, 0, 0.149);
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 10px;
   
}
.shareWrapper{
    padding: 10px;

}
.shareTop
{
    display: flex;
    align-items: center;
}
.shareProfileImg
{
    width:50px;
    height:50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.shareform{
    height: 100%;
    width: 100%;
    padding: 10px;
    
}
.shareInput
{
    width: 100%;
    height: 250px;
    border: none;
   overflow-y: scroll;
   word-break: break-all;
    border: 1px solid rgba(0, 0, 0, 0.89);
    border-radius: 10px;
}
.shareInputPlaceholderTop {
    text-align:start;
    vertical-align: top;
  }
.shareInput:focus
{
    outline: none;
}
.shareBottom
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.shareOptions
{
    display: flex;
    margin-right: 20px;
}
.shareOption{
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}
.shareIcon
{
    font-size: 18px;
    margin-right: 3px;
}
.shareOptionText
{
    font-size: 14px;
    font-weight: 500;
}
.shareButton
{
    border: none;
    width: 400px;
    padding: 7px;
    border-radius: 5px;
    font-weight: 500;
    background-color: green;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
    color: white;
}
.uploadpic{
    width: 200px;
    height: 45px;
    margin-top: 10px;
    background-color: green;
    border-radius: 5px;
    color: white;
}
.upload{
    margin-top: 10px;
}
.picshare{
    display: flex;
}